<?php

namespace Singly;

return array(
    'singly' => array(
        'client_id' => "",
        'client_secret' => "",
        'redirect_uri' => "",
        'services' => array(
            'tumblr' => array(
                'name' => 'Tumblr',
                'icon' => '/assets/Singly/images/tumblr.png',
            ),
            'facebook' => array(
                'name' => 'Facebook',
                'icon' => '/assets/Singly/images/facebook.png',
            ),
            'foursquare' => array(
                'name' => 'Foursquare',
                'icon' => '/assets/Singly/images/foursquare.png',
            ),
            'github' => array(
                'name' => 'Github',
                'icon' => '/assets/Singly/images/github.png',
            ),
            'instagram' => array(
                'name' => 'Instagram',
                'icon' => '/assets/Singly/images/instagram.png',
            ),
            'twitter' => array(
                'name' => 'Twitter',
                'icon' => '/assets/Singly/images/twitter.png',
            ),
            'gcontacts' => array(
                'name' => 'Google',
                'icon' => '/assets/Singly/images/gcontacts.png',
            ),
            'linkedin' => array(
                'name' => 'Linkedin',
                'icon' => '/assets/Singly/images/linkedin.png',
            ),
            'email' => array(
                'name' => 'Email',
                'icon' => '/assets/Singly/images/email.png',
            ),
            'fitbit' => array(
                'name' => 'Fitbit',
                'icon' => '/assets/Singly/images/fitbit.png',
            ),
            'wordpress' => array(
                'name' => 'Wordpress',
                'icon' => '/assets/Singly/images/wordpress.png',
            ),
        ),
    ),
);

